body {
  padding: 50px 100px !important;
}

ul{
  list-style: none;
}
ul li{
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
.layout {
  outline: 2px dashed rgb(222 , 222 , 222);
  width: 800px;
  height: 500px;
  float: left;
  position: relative;
  z-index: 1;
}

.layout svg{
  opacity: .1;
}

.layout-active{

}

.layout-active svg{
  opacity: .2;
}

.layout-hover{
  background-color: rgb(250 , 250 , 250);
}

.item-list {
  width: 250px;
  outline: 2px dashed rgb(222 , 222 , 222);
}

.item{
  width: 32px;
  height: 32px;
}

.item img{
  width: 100%;
  height: 100%;
}

.item .collision{
  border:2px dashed #ff7575;
}

.item .degree{
  display: none;
}

.close-bt {
  display: flex;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #aaa;
  color: grey;
  right: 0px;
  top: 0px;
  padding: 0;
  cursor: pointer;
}

.close-bt:hover {
  background-color: #f55;
}

.close-bt span{
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  line-height: 0.5;
  font-size: 12px;
  padding: 0;
  cursor: pointer;
}

.ui-draggable-dragging{
  opacity: 0.5;
  transform: scale(1.0);
  z-index: 1000;
}

/* ------ animations ----- */
.bounce-in{
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: bounce-in;
  animation-name: bounce-in;
}

.fade-out{
  animation-duration: 0.5s;
  animation-name: fade-out;
}

@keyframes fade-out {
  20%{
    opacity: 1;
    transform: scale(1.2);
  }
  40%{
    opacity: 1;
    transform: scale(1);
  }
  60%{
    opacity: 0.8;
    transform: scale(0.8);
  }
  80%{
    opacity: 0.4;
    transform: scale(0.4);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }

}
@-webkit-keyframes bounce-in {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounce-in {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}